//registry.npmjs.org/:_authToken=${NPM_TOKEN}
optional=false
loglevel=error
update-notifier=false
save-exact=true
min-release-age=7
engine-strict=true
ignore-scripts=true
allow-git=none
allow-remote=none
audit-level=moderate
fund=false
